body
{
	margin: 0:
	padding:0;
	background: white;

}

#CorreoExitoso
{

	font-size: 30px;
	position: absolute;
	top: 35%;
	left: 35%;
	transform: translate(-50%, -50%);
}

#back
{
	border:none;
	outline: none;
	height: 40px;
	background-color: #9c9c9c;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 20px;
}