body
{
	margin: 0:
	padding:0;
	background: url(../img/golden.jpg) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;

}

.Login-box
{
	width: 320px;
	height: 420px;
	background-color: black;
	opacity: 0.9;
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 05%;
}

#logo
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.Login-box h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 25px;

}

.Login-box label
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.Login-box input
{
	width: 100%;
	margin-bottom: 20px;
}

.Login-box input[name="USERNAME"]
{
	border:none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px 

}

.Login-box input[type="password"]
{
	border:none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px 

}

.Login-box input[type="submit"]
{
	border:none;
	outline: none;
	height: 30px;
	background-color: #b80f22;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 20px;
}

.Login-box a
{
	text-decoration: none;
	font-size: 12px;
	color: darkgrey;
	line-height: 20px;
}

.Login-box a:hover
{
	color: white;
}

