*
{
	margin: 0;
	padding: 0;
}

header
{
	width: 100%;
}

nav 
{
	margin: 20px auto;
	width: 90%;
	max-width: 3000px
}

nav ul
{
	list-style: none;

}

nav > ul
{
	display: table;
	overflow: hidden;
	width: 100%;
	background: black;
	position: relative;
	color: white;
}

nav > ul li
{
	display: table-cell;
}


nav > ul li a
{
	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition:all.4s ease;
	-moz-transition:all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

nav > ul > li >a span
{
	background: #174459;
	display: block;
	height: 100%;
	width:100%;
	left:0;
	position: absolute;
	top: -53px;
	-webkit-transition:all.4s ease;
	-moz-transition:all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

}

nav > ul > li > a span i .icon
{
	display: block;
	line-height: 60px;
	

	
}

nav > ul > li > a:hover > span
{
	top: 0px;
}

/*COLORES DE FONDO DE CADA PESTAÑA DEL MENU*/

nav ul li a span.uno
{
	background: url(../img/incio.jpg) center top;
}

nav ul li a span.dos
{
	background: url(../img/nosotros.jpg) center top;
}
nav ul li a span.tres
{
	background: url(../img/productos.jpg)  center top;
}
nav ul li a span.cuatro
{
	background: url(../img/servicios.jpg)  center top;
}
nav ul li a span.cinco
{
	background: url(../img/contacto.jpg) center top;
}